### Q1. Finding datatypes of each input variables

In [1]:
a = 5
print("data type of a is",type(a))

data type of a is <class 'int'>

In [2]:
b = 5.0
print(" data type of b is ", type(b))

 data type of b is  <class 'float'>

In [3]:
c = 5 > 1
print(" data type of c is " ,type(c))

 data type of c is  <class 'bool'>

In [4]:
d = '5'
print(" data type of d is ", type(d))

 data type of d is  <class 'str'>

In [5]:
e = 5 * 2
print(" data type of e is " , type(e))

 data type of e is  <class 'int'>

In [6]:
f = '5' * 2
print(" data type of f is " , type(f))

 data type of f is  <class 'str'>

In [7]:

g= '5' + '2'
print(" data type of g is " , type(g))

 data type of g is  <class 'str'>

In [8]:

h = 5 / 2
print(" data type of h is " , type(h))

 data type of h is  <class 'float'>

In [9]:
i = 5 % 2
print(" data type of i is " , type(i))

 data type of i is  <class 'int'>

In [10]:
j = {5, 2, 1}
print(" data type of j is " , type(j))

 data type of j is  <class 'set'>

In [11]:
k = 5 == 3
print(" data type of k is " , type(k))

 data type of k is  <class 'bool'>

In [12]:
import math  # importing library to implement math function
l = math.pi
print(" data type of l is " , type(l))

 data type of l is  <class 'float'>

## Q2 
## a) How many letters are there in 'Supercalifragilisticexpialidocious'?

In [13]:
word = 'Supercalifragilisticexpialidocious'
num_letters = len(word)
print(f"There are {num_letters} letters in the word {word}")

There are 34 letters in the word Supercalifragilisticexpialidocious

## b) Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring?

In [14]:
word = 'Supercalifragilisticexpialidocious'
contains_ice = 'ice' in word
print("Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring? ",contains_ice)

Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring?  True

## c. Which of the following words is the longest: Supercalifragilisticexpialidocious, Honorificabilitudinitatibus, or Bababadalgharaghtakamminarronnkonn?

In [15]:
W1 = 'Supercalifragilisticexpialidocious'
W2= 'Honorificabilitudinitatibus'
W3 = 'Bababadalgharaghtakamminarronnkonn'

longest_word = max(W1,W2,W3, key=len)
print(f"The longest word is {longest_word}")

The longest word is Supercalifragilisticexpialidocious

## d. Which composer comes first in the dictionary: 'Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein'. Which one comes last?

In [16]:
composers = ['Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein']
first_composer = min(composers)
last_composer = max(composers)

print("First composer is:",first_composer) 
print("Last composer is:",last_composer)

First composer is: Bartok
Last composer is: Buxtehude

## Q3
 ## Implement function triangleArea(a,b,c) that takes as input the lengths of the 3sides of a triangle and returns the area of the triangle. By Heron's formula, the areaof a triangle with side lengths a, b, and c is   s(s - a)(s - b)(s - c) , where s = (a + b + c)/2

In [17]:
import math

def triangleArea(a, b, c):
    
    s = (a + b + c) / 2
    
    area = math.sqrt(s * (s - a) * (s - b) * (s - c))
    
    return area 

    
    a = 2
    b = 2
    c = 2
    
print("Area of the Triangle:",triangleArea (a,b,c))

Area of the Triangle: 2.48746859276655

## Q4
## Write a program in python to separate odd and even integers in separate arrays. Go to the editorTest Data :Input the number of elements to be stored in the array :5Input 5 elements in the array :element - 0 : 25element - 1 : 47element - 2 : 42element - 3 : 56element - 4 : 32

In [18]:
def separate_odd_even(Ar):
    odd = []
    even = []
    for num in Ar:
        if num % 2 == 0:
            even.append(num)
        else:
            odd.append(num)
    return odd, even

def main():
    Ar = [25, 47, 42, 56, 32]
    
    odd_numbers, even_numbers = separate_odd_even(Ar)
    
    print("Odd numbers:", odd_numbers)
    print("Even numbers:", even_numbers)

if __name__ == "__main__":
    main()

Odd numbers: [25, 47]
Even numbers: [42, 56, 32]

## Q5
### a.Write a function inside(x,y,x1,y1,x2,y2) that returns True or False depending on whether the point (x,y) lies in the rectangle with lower left corner (x1,y1) and upper right corner (x2,y2).

In [19]:
def inside(x, y, x1, y1, x2, y2):
    return x1 <= x <= x2 and y1 <= y <= y2

print("checking(1,1) inside or not")
print(inside(1, 1, 0, 0, 2, 3))  
print("checking(-1,-1) inside or not")
print(inside(-1, -1, 0, 0, 2, 3))

checking(1,1) inside or not
True
checking(-1,-1) inside or not
False

### b. Use function inside() from part a. to write an expression that tests whether the point (1,1) lies in both of the following rectangles: one with lower left corner (0.3, 0.5) and upper right corner (1.1, 0.7) and the other with lower left corner (0.5, 0.2) and upper right corner (1.1, 2)

In [20]:

result = inside(1, 1, 0.3, 0.5, 1.1, 0.7) and inside(1, 1, 0.5, 0.2, 1.1, 2)
print("checking if (1,1) is inside both the triangles:",result)

checking if (1,1) is inside both the triangles: False

## Q6
### You can turn a word into pig-Latin using the following two rules (simplified):• If the word starts with a consonant, move that letter to the end and append'ay'. For example, 'happy' becomes 'appyhay' and 'pencil' becomes 'encilpay'.• If the word starts with a vowel, simply append 'way' to the end of the word.For example, 'enter' becomes 'enterway' and 'other' becomes 'otherway' . Forour purposes, there are 5 vowels: a, e, i, o, u (so we count y as a consonant) Write a function pig() that takes a word (i.e., a string) as input and returns its pig-Latin form. Your  function should still work if the input word contains upper case characters. Your output should always be lower case however

In [21]:
def pig(word):
    vowels = {'a', 'e', 'i', 'o', 'u'}
    
    word = word.lower()
    
    if word[0] in vowels:
        return word + 'way'
    else:
        return word[1:] + word[0] + 'ay'


print("The pig-Latin form of Happy is ",pig('Happy'))  
print("The pig-Latin form of Enter is ",pig('Enter'))  
print("The pig-Latin form of Pencil is ",pig('pencil')) 
print("The pig-Latin form of Other is ",pig('Other'))

The pig-Latin form of Happy is  appyhay
The pig-Latin form of Enter is  enterway
The pig-Latin form of Pencil is  encilpay
The pig-Latin form of Other is  otherway

## Q7
### File bloodtype1.txt records blood-types of patients (A, B, AB, O or OO) at a clinic. Write a function bldcount() that reads the file with name name and reports (i.e., prints) how many patients there are in each bloodtype

In [22]:
def bldcount(dataset):
    blood_counts = {'A': 0, 'B': 0, 'AB': 0, 'O': 0, 'OO': 0}
    try:
        with open(dataset, 'r') as data:
            contents = data.read()
            blood_types = contents.split()

        index = 0  
        while index < len(blood_types):
            blood_type = blood_types[index]
            if blood_type in blood_counts:
                blood_counts[blood_type] += 1
            else:
                print(f"Unknown blood type '{blood_type}' found in the file.")
            index += 1

        for blood_type, count in blood_counts.items():
            if count == 1:
                print(f"There is one patient of blood type {blood_type}.")
            elif count > 1:
                print(f"There are {count} patients of blood type {blood_type}.")
            else:
                print(f"There are no patients of blood type {blood_type}.")
    except FileNotFoundError:
        print("File not found.")
    except Exception as e:
        print("An error occurred:", e)

bldcount('bloodtype1.txt')

There are 15 patients of blood type A.
There is one patient of blood type B.
There are 13 patients of blood type AB.
There are 15 patients of blood type O.
There are no patients of blood type OO.

## Q8
### Write a function curconv() that takes as input:
#### 1. a currency represented using a string (e.g., 'JPY' for the Japanese Yen or 'EUR' for the Euro)
#### 2. an amount 
#### and then converts and returns the amount in US dollars.

In [23]:
def curconv(currency, amount):
    with open('currencies.txt', 'r') as file:
        lines = file.readlines()
        for line in lines:
            parts = line.split()
            if parts[0] == currency:
                rate = float(parts[1])
                return amount * rate
        print("Currency not found in the file.")
        return None

print("The EUR 100 in USD is")
print(curconv('EUR', 100))
print("The JPY 100 in USD is")
print(curconv('JPY', 100))

The EUR 100 in USD is
122.96544
The JPY 100 in USD is
1.241401

## Q9
### Each of the following will cause an exception (an error). Identify what type of exception each will cause.

#### a.Trying to add incompatible variables, as in adding 6 + ‘a’
#### b.Referring to the 12th item of a list that has only 10 items
#### c.Using a value that is out of range for a function’s input, such as calling math.sqrt(-1.0)
#### d.Using an undeclared variable, such as print(x) when x has not been defined
#### e.Trying to open a file that does not exist, such as mistyping the file name or looking in the wrong directory.

In [25]:
#For a.

result = 6 + 'a'
print(result)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

These two variables are in different data type so we can't add that. Type Error is a built-in exception class.

In [26]:
#For b.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list[12])

IndexError: list index out of range

The listed index are out of range, ie., it calls for an item out of the array size.

In [27]:
#For c.

import math
result = math.sqrt(-1.0)
print(result)

ValueError: math domain error

Maths domains can't accept negative numbers as an input. It is a value error which is raised when operation or function has an argument of the right type but incorrect value.

In [28]:
#For d.

print(x)

NameError: name 'x' is not defined

X is an udefined variable so we can't print this without giving any definition. It is a NameError raised when attempting to evaluate an unassigned identifier.

In [29]:
#For e.

try:
    with open('nonexistent_file.txt', 'r') as file:
        content = file.read()
        print(content)
except FileNotFoundError as e:
    print("File not found:", e)

File not found: [Errno 2] No such file or directory: 'nonexistent_file.txt'

The specified file doesnot not exist in the specified location. Thus, it doesnot work.

## Q10
### Write a function called frequencies() that takes a string as its only parameter, and returns a list of integers, showing the number of times each character appears in the text. Your function may ignore any characters that are not in letters

In [30]:
def frequencies(text):
    letters = 'abcdefghijklmnopqrstuvwxyz'
    freq_list = [0] * 26  

    for char in text.lower():  
        if char in letters:
            index = letters.index(char)
            freq_list[index] += 1
    
    return freq_list


print("Frequencies of 'The quick red fox got bored and went home':",frequencies('The quick red fox got bored and went home.'))
print("Frequencies of 'Apple':",frequencies('apple'))

Frequencies of 'The quick red fox got bored and went home': [1, 1, 1, 3, 5, 1, 1, 2, 1, 0, 1, 0, 1, 2, 4, 0, 1, 2, 0, 3, 1, 0, 1, 1, 0, 0]
Frequencies of 'Apple': [1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]